<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <div class="jumbotron">
            <h1>Welcome to Budget Manager</h1>
            <p>This little web application will help you track your money. Not sure if you have enough money to buy your Christmas presents ? Just <a href="/log-in">login</a> and see where you are with your money. Check it out !</p>
            <p><a class="btn btn-primary btn-lg" href="/log-in" role="button">Log in</a> or <a class="btn btn-primary btn-lg" href="/users/new" role="button">Sign in</a></p>
        </div>
</div>
</div>
