<a href="/log-in">
<img src="http://a114.phobos.apple.com/us/r30/Purple/v4/f9/d7/fd/f9d7fd29-8723-9b1e-36bc-c50ad52d71bd/mzl.aoiszxfp.png" alt="Budget Manager" style="width:800px;height:328px">
</a> 
<%= link_to 'My Budget', controller: 'budgets' %>
